@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --yellow-primary : 36, 78%, 47%;
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

@layer components {
  .dashboard_container {
    @apply w-[calc(100vw-56px)] lg:w-[calc(100vw-300px)];
  }
}